
.info {
    text-align: center;
    color: white;
   
    background: #c8c10d;
}
.info h2{
    padding: 2%;
    font-family: "Lato";
    font-weight: normal;
    margin: 0;
}

aside{
    background-color: #efedee;
    float: left;
 
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
aside h2{
    font-family: "Lato";
    color:#cb3362;
    font-weight: normal;
    
}
aside{
    margin-top: 20px;
}
aside p,aside a{
    font-family: "Lato";
    color: #7a6666;
}
main h1{
    font-family: "Lato";
    color:#cb3362;
    font-weight: normal;
}
main p,main a{
    font-family: "Lato";
    color: #7a6666;
    
}
