@font-face {
    font-family: "RammettoOne";
    src: url(../fonts/RammettoOne-Regular.ttf)  format("truetype");
}
@font-face {
    font-family: "Lato";
    src: 
    url(../fonts/lato-regular-webfont.eot) format("embedded-opentype"),
    url(../fonts/lato-regular-webfont.svg) format("svg"),
    url(../fonts/lato-regular-webfont.ttf) format("truetype"),
    url(../fonts/lato-regular-webfont.woff) format("woff");

}
@font-face {
    font-family: "Magra";
    src: 
    url(../fonts/magra-bold-webfont.eot) format("embedded-opentype"),
    url(../fonts/magra-bold-webfont.svg) format("svg"),
    url(../fonts/magra-bold-webfont.ttf) format("truetype"),
    url(../fonts/magra-bold-webfont.woff) format("woff");
}
@font-face {
    font-family: "Robo";
    src: 
    url(../fonts/roboto-regular-webfont.eot) format("embedded-opentype"),
    url(../fonts/roboto-regular-webfont.svg) format("svg"),
    url(../fonts/roboto-regular-webfont.ttf) format("truetype"),
    url(../fonts/roboto-regular-webfont.woff) format("woff");
}
.logo{
    margin-left:2 00px;
    margin-right: 400px;
    position: relative;
}
.logo h1 {
    font-family: "RammettoOne";
   
}
.logo_vuha{
    position: absolute;
    left: 70%;
    top: 20%;
}

.header_row{
    display: flex;
    flex-direction: row;
}
.menu{
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.menu a{
   
    margin:10px 10px 10px;
    margin-top: 0;
    text-decoration: none;
    font-family: "Lato";
    color: #7a6666;
    font-weight: bold;
}
.menu a:hover{
    color:#c8c10d;
    transition: 1.2s ease;
  
}
.menu a:link{
    color: #7a6666;
}
.menu a:active{
    color:#cb3362;
}
header{
    background-color: #efedee;
    display: flex;
    justify-content: center;
    justify-items: center;
}
body{
    margin:0;
}

.section_1{
    display: flex;
    justify-content: center;
    align-self: center;

    position: relative;
}
.circle{
    width: 130px;
    position:absolute;
    top: 65%;
    right: 35%;
}
section .tort{
    width: 100%;
}

.section_2{
   
    background-color: #eae7e8;
    display: flex;
    justify-content: center;
    align-self: center;
   
}

.section_2 h2{
    font-family: "Lato";
    color: #7a6666;
    padding-top: 60px;
    margin-top: 0;
    
   
}
.section_2 h1{
    font-family: "Magra";
    color:#e32a62;
  
}
.section_2 p{
    font-family: "Robo";
    color:#7a6666;
   
    font-size: 100%;
   
}
.pos{
display: flex;
}
.section_3{
    width: 100%;
    background-color: #c8c10d;
    display: flex;
    justify-content: center;
    align-self: center;
}
.section_3 h2{
    font-family: "Lato";
    color:white;
   font-weight: normal;
}
.box{

    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    
    padding: 40px 40px 40px;
  
}
.box img{
    margin:30px 30px 30px;
    margin-bottom: 30px;
    text-align: center;
}
.box h2{
    margin:0;
}
.location img{
    margin-bottom: 10px;
    margin-left: 70px;
  
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    background-color: #cb3362;
    color:white;
    font-family: "Robo";
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    height:max-content;
}
body{
    height: auto;

}
.box_link{
  
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
        padding: 20px 20px 20px; 
}
footer .row{
    margin-top: 1.5%;
    margin-bottom: 0.1%;
}

.hidden-link {
    display: none;
  }
  
  .text:hover .hidden-link {
    display: block;
  }