<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=LAPTOP-SME2AMSS\SQLEXPRESS;Initial Catalog=CarCode;Integrated Security=True;Connect Timeout=2;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
</configuration>